[MASTER]
disable=C0114,  # missing-module-docstring
        C0115,  # missing class docstring (missing-class-docstring)
        C0116,  # missing function or method docstring (missing-function-docstring)
        R1716,  # Simplify chained comparison between the operands (chained-comparison)
        E0401,  # Unable to import 
        C0325,  # Unnecessary parens after 'if' keyword (superfluous-parens)
        W0105,  # pointless-string-statement
        E0611,  # no-name-in-module

good-names = id, app, db, i

[FORMAT]
max-line-length=240